<%= form_tag '/filter', remote: true do %>
  <h1>Enter the search filter</h1>
  <%= label_tag :request, 'Request' %>
  <%= text_field_tag :request, nil, size: 40 %>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<%- end %>

<h2>Language List</h2>
<div id="result">
  <%= render partial: 'shared/list', locals: { languages: @languages } %>
</div>
